<!DOCTYPE html>
<html ng-app="HDApplication">

<head>
    <meta charset="utf-8" />
    <title>Help Desk App</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
</head>

<body>

<div class="jumbotron">
    <div class="container">
        <div class="col-xs-offset-2 col-xs-8">
            <div ng-view></div>
        </div>
    </div>
</div>

<div class="credits text-center">
    <p>
        <a href="#">Mobiquity Help Desk Application</a>
    </p>
    <p>
        <a href="http://mobiquityinc.com">Mobiquityinc.com</a>
    </p>
</div>

<script src="/javascripts/angular.min.js"></script>
<script src="/javascripts/angular-resource.min.js"></script>
<script src="/javascripts/angular-route.min.js"></script>
<script src="/javascripts/angular-cookies.min.js"></script>

<script src="hdesk/scripts/app.js"></script>
<script src="hdesk/modules/authentication/services.js"></script>
<script src="hdesk/modules/authentication/controllers.js"></script>
<script src="hdesk/modules/home/controllers.js"></script>
<script src="hdesk/modules/home/services.js"></script>



</body>

</html>