<div class="col-md-12 container">
    <div class="panel panel-default plain profile-panel">
        <div class="panel-body">
            <div class="col-md-2">
                <div class="profile-avatar">
                    <img class="img-responsive" src="images/profile.png" alt="profile picture">
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="user-name">
                    $(Full name) <span class="label label-success">$(admin)</span>

                </div>
                <div title="logout" class="glyphicon glyphicon-log-out slideInLeft col-md-offset-10">&nbsp;Logout
                </div>
                <div class="profile-stats-info">
                    <a href="#" title="ticket-complete"><i class="glyphicon glyphicon-flag"
                                                           style="color: green;"></i><label style="color: green;">
                            <strong>2000</strong><i>&nbsp;&nbsp;completed</i></label></a>
                    <a href="#" title="Tickets-not-complete"><i class="glyphicon glyphicon-flag"
                                                                style="color: red;"></i>
                        <lable style="color: red;"><strong>2000</strong><i>&nbsp;&nbsp;Not-completed</i></lable>
                    </a>
                </div>
                <br>

                <div class="panel-footer white-content">
                    <ul class="profile-info">
                        <li><i class="glyphicon glyphicon-user"></i> $(username)</li>
                        <li><i class="glyphicon glyphicon-phone"></i> $(contact number)</li>
                        <li><i class="glyphicon glyphicon-envelope"></i> $(emailid)</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>